.bundle
netsuite.log
spec/cassettes

### Vagrant files ###
.vagrant/
Vagrantfile
bootstrap.sh
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
